body {
    margin: 0;
    background-color: #4C5B5C;
}

#header {
    height: 10vh;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    position: sticky;
}

#username-box {
    background: none;
    border: none;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 60pt;
    color: #FDE74C;
}

/*chat windows stuff*/

#choose-file {
    visibility: hidden;
    display: none;
}

#insert-picture {
    float: left;
    height: 10vh;
    width: 20vw;
    background-color: #4C5B5C;
    border: none;
}

#insert-picture img {
    position: relative;
    height: 50%;
    width: 50%;
}

#message-box {
    float: left;
    display: inline-block;
    width: 60vw;
    height: 10vh;
    border: none;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 40pt;
    line-height: 150%;
    background: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

#chat-window {
    height: 80vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #FDE74C;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px;
}

#chat-window span{
    font-size: 35pt;
    display: block;
}

#message span{
    display: block;
    width: 100%;
    font-size: 35pt;
    font-family: 'Ropa Sans', sans-serif;
}

#message span:not(:first-child){
    margin-top: 30px;
}

#is_writting{
    font-size: 35pt;
    font-family: 'Ropa Sans', sans-serif;
    margin-top: 30px;
}

#chat-window img {
    vertical-align: text-top;
    width: 70%;
    margin-left: 20px;
}

#send-button {
    border: none;
    width: 20vw;
    height: 10vh;
    font-size: 50pt;
    color: #FDE74C;
    font-family: 'Passion One', cursive;
    background-color: #4C5B5C;
    float: left;
}

#ok_button {
    position: relative;
    display: block;
    margin: 0 auto;
    border: none;
    width: 20vw;
    height: 80px;
    font-size: 50pt;
    color: #4C5B5C;
    font-family: 'Passion One', cursive;
    background-color: #FDE74C;
    margin-top: 20px;
}


/*alert stuff*/

#alert-error {
    background-color: #4C5B5C;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 50pt;
    font-weight: 500;
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 40vh;
    width: 100vw;
    visibility: hidden;
    padding-top: 40px;
    color: #FDE74C;
}

#alert-error img {
    height: 40%;
    margin: 10px;
}

#overlay {
    position: absolute;
    margin: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #4C5B5C;
    opacity: 0.4;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
}


/*placeholder*/

input::-webkit-input-placeholder {
    color: #FDE74C !important;
}